<div>
    <footer class="footerTable">

        <table>
            <tbody>
                <tr>
                    <td colspan="6"> </td>
                </tr>
                <tr class="general">
                    <td rowspan="2" class="laterales"></td>
                    <td class="general"> <b>CONTACTENOS</b> </td>
                    <td class="general"><b>SIGUENOS EN</b></td>
                    <td class="general"><b>SUGERENCIAS</b></td>
                    <td class="general"><b>TERMINOS</b> </td>
                    <td rowspan="2" class="laterales"></td>
                </tr>
                <tr>
                    <td class="general">
                        <b>Numero Telefono:</b> 3014030785 <br>
                        <b>Correo:</b> Sintes@gmail.com<br>
                        <b>Ubicacion:</b> Mz13 casa2 nueva Aranda
                    </td>
                    <td class="general">
                        <ul>
                            <li class=""><a href="#" class="facebook-f"></a></li>
                            <li><a href="#" class="twitter-f"></a></li>
                            <li><a href="#" class="instagram-f"></a></li>
                            <li><a href="#" class="youtube-f"></a></li>
                            <li><a href="#" class="wathsapp-f"></a></li>
                        </ul>
                    </td>
                    <td class="general">Si tienes alguna sugerencia <br> para mejorar nuestro servicio <br><br>
                        <input type="text">{{" "}}<button>enviar</button>
                    </td>
                    <td class="general">Copyright (c) 2023 JmDevloper
                        All Rights Reserved
                        <br>


                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="color: #383838;">jjj</td>
                </tr>
                <tr>

                </tr>
            </tbody>
        </table>



    </footer>
</div>